
<div th:fragment="content">
<div class="col-md-3" >
<form action="#" th:action="@{/admins/create}" th:object="${admin}" method="post">
  
  <h2>Create Admin</h2>
    <p>Name: <input type="text" class="form-control"  th:field="*{name}" th:value="${admin.name}"  autofocus required/></p>
    <p>Surname: <input type="text" class="form-control" th:field="*{surname}" th:value="${admin.surname}" autofocus required /></p>
    <p>TCKN:<input type="number" class="form-control" th:field="*{tckn}" th:value="${admin.tckn}"  autofocus required/> </p>
      <p>Birth Date:<input type="text" class="form-control" th:field="*{birthDate}" th:value="${admin.birthDate}"  max="2016" min="1900" autofocus required/> </p>
        <p>E Mail:<input type="email" class="form-control" th:field="*{email}" th:value="${admin.email}" autofocus required/> </p>
          <p>Password:<input type="password" class="form-control" th:field="*{password}" th:value="${admin.password}"  autofocus required/> </p>
            <p>Phone:<input type="number" class="form-control" th:field="*{phone}" th:value="${admin.phone}"  autofocus required/> </p>
              <p>LKD No:<input type="text" class="form-control" th:field="*{lkdNo}" th:value="${admin.lkdNo}"  autofocus required/> </p>
                
    
    <p><button type="submit" class="btn btn-lg btn-primary btn-block"  >Kaydet</button></p>
	
</form>
</div>
</div>