<div th:fragment="content">

	<div class="container">
		<div class="text-center"><h1>Instructors</h1></div>
		<br>

		<table class="table table-hover">
			<thead>
				<th>ID</th>
				<th>Name</th>
				<th>Surname</th>
				<th>Birth Date</th>
				<th>TC ID</th>
				<th>E-mail</th>
				<th>Phone</th>

			</thead>
			<tbody>
				<tr th:each="instructor : ${instructorList}">

					<td th:text="${instructor.id}"></td>

					<td th:text="${instructor.name}"></td>

					<td th:text="${instructor.surname}"></td>

					<td th:text="${instructor.birthDate}"></td>

					<td th:text="${instructor.tckn}"></td>

					<td th:text="${instructor.email}"></td>

					<td th:text="${instructor.phone}"></td>

					<td>
						<a th:href="@{/instructors/update/__${instructor.id}__}" class="btn btn-primary">Edit</a>
								
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>