<th:block th:fragment="content">
	<meta charset="utf-8" />

  <div class="row">
    <div class="col-md-offset-2 col-md-8">
    <form th:action="@{/application}" class="form-horizontal well" th:object="${form}" method="post">
	<div class="form-group">
        <label for="email" class="col-lg-2 col-md-2 control-label">Önkoşul Sınavı</label>
        <div class="col-lg-10 col-md-10" th:errorclass="has-error" name="student.email">
          <p th:if="${#fields.hasErrors('student.email')}" th:errors="*{student.email}" class="text-danger"></p>
        </div>
      </div>
      <div class="form-group">
        <label for="email" class="col-lg-2 col-md-2 control-label">E-postanız</label>
        <div class="col-lg-10 col-md-10" th:errorclass="has-error" name="student.email">
          <input type="email" class="form-control floating-label" id="email" th:field="*{student.email}" th:field="*{student.email}" placeholder="E-posta" required>
          <span class="help-block">Ön koşul sınavında verdiğiniz eposta ile aynı olmalı!</span>
          <p th:if="${#fields.hasErrors('student.email')}" th:errors="*{student.email}" class="text-danger"></p>
        </div>
      </div>

      <fieldset>
      <legend>Sizi Tanıyalım</legend>

       <div class="form-group">
        <label class="col-lg-2 col-md-2 control-label">Cinsiyetiniz</label>
        <div class="col-lg-10 col-md-10">
        <div class="radio radio-primary">
          <label>
            <input type="radio" id="sex1" th:field="*{student.sex}" value="MALE" name="sex"> Erkek
          </label>
        </div>
        <div class="radio radio-primary">
          <label>
            <input type="radio" id="sex2" th:field="*{student.sex}" value="FEMALE" name="sex"> Kadın
          </label>
        </div>
        </div>
      </div>	

      
      <div class="form-group">
        <label for="citizenshipNumber" class="col-lg-2 col-md-2 control-label">Tc Kimlik No</label>
        <div class="col-lg-10 col-md-10" th:errorclass="has-error" name="student.tckn">
          <input type="number" class="form-control floating-label" id="citizenshipNumber" th:field="*{student.tckn}" th:value="*{student.tckn}" placeholder="Tc Kimlik No" required>
		  <p th:if="${#fields.hasErrors('student.tckn')}" th:errors="*{student.tckn}" class="text-danger"> HATA</p>
        </div>
      </div>

      <div class="form-group">
        <label for="firstName" class="col-lg-2 col-md-2 control-label">Adınız</label>
        <div class="col-lg-10 col-md-10">
          <input type="text" class="form-control floating-label" id="firstName" th:field="*{student.name}" th:value="*{student.name}" placeholder="Adınız" required>
          <span class="help-block">Kimlikte yazıldığı gibi (Tc No doğrulaması için).</span>
        </div>
      </div>

      <div class="form-group">
        <label for="lastName" class="col-lg-2 col-md-2 control-label">Soyadınız</label>
        <div class="col-lg-10 col-md-10">
          <input type="text" class="form-control floating-label" id="lastName" th:field="*{student.surname}" th:value="*{student.surname}" placeholder="Soyadınız" required>
        </div>
      </div>

      <div class="form-group">
        <label for="birthDate" class="col-lg-2 col-md-2 control-label">Doğum yılınız</label>
        <div class="col-lg-10 col-md-10" th:errorclass="has-error" name="student.birthDate">
          <input type="number" max="2015" min="1935" class="form-control floating-label" id="birthDate" th:field="*{student.birthDate}" th:value="*{student.birthDate}" placeholder="Doğum yılınız" required>
           <p th:if="${#fields.hasErrors('student.birthDate')}" th:errors="*{student.birthDate}" class="text-danger"></p>
          <span class="help-block">Yalnızca yıl: örneğin 1992.</span>
        </div>
      </div>

      <div class="form-group">
        <label class="col-lg-2 col-md-2 control-label">Çalışma durumunuz</label>
        <div class="col-lg-10 col-md-10">
        <div class="radio radio-primary">
          <label>
            <input type="radio" name="workStatus" id="workStatus1" th:field="*{application.workStatus}" value="WORKING">
          Çalışıyorum
          </label>
        </div>
        <div class="radio radio-primary">
          <label>
            <input type="radio" id="workStatus2" th:field="*{application.workStatus}" value="STUDENT">
          Öğrenciyim
          </label>
        </div>
        <div class="radio radio-primary">
          <label>
            <input type="radio" name="workStatus" id="workStatus2" th:field="*{application.workStatus}" value="NOT_WORKING">
          Çalışmıyorum (ve öğrenci değilim)
          </label>
        </div>
        </div>
      </div>
     
      <div class="form-group">
        <label for="inputPassword" class="col-lg-2 col-md-2 control-label"></label>
        <div class="col-lg-10 col-md-10" th:errorclass="has-error" name="application.workStatus">
        <div class="togglebutton">
          <label>
            <input type="checkbox" name="isOfficer" id="isOfficer" th:field="*{application.officer}" th:value="*{application.officer}" > Kamu çalışanıyım
          </label>
        </div>
        <p th:if="${#fields.hasErrors('application.workStatus')}" th:errors="*{application.workStatus}" class="text-danger"></p>
        <span class="help-block">Kamu çalışanlarına öncelik verilir, ancak kurumunuzdan doğrulama yapılır.</span>
        </div>
      </div>

      <div class="form-group">
        <label for="workDetails" class="col-lg-2 col-md-2 control-label">Çalışma detaylarınız</label>
        <div class="col-lg-10 col-md-10">
        <textarea class="form-control floating-label" rows="3" id="workDetails" th:field="*{application.workDetails}" th:value="*{application.workDetails}" placeholder="Çalışıyorsanız kurumunuzu, öğrenciyseniz üniversitenizi belirtiniz." required></textarea>
        </div>
      </div>

      <div class="form-group">
        <label for="corporation" class="col-lg-2 col-md-2 control-label"></label>
        <div class="col-lg-10 col-md-10">
        <textarea class="form-control floating-label" rows="3" id="corporation" th:field="*{application.corporation}" th:value="*{application.corporation}" name="corporation" placeholder="Çalışıyorsanız birim ve görevinizi, öğrenciyseniz bölüm ve sınıfınızı belirtiniz." required></textarea>
        </div>
      </div>

      <div class="form-group">
        <label for="englishLevel" class="col-lg-2 col-md-2 control-label">İngilizce bilginiz</label>
        <div class="col-lg-10 col-md-10">
        <div id="englishLevelSlider" class="slider shor"></div>
          <input type="number" id="englishLevel" th:field="*{application.englishLevel}" th:value="*{application.englishLevel}" min="0" max="10">
          <span class="help-block">1'den 10'a kadar değerlendiriniz.</span>
        </div>
      </div>

      <div class="form-group">
        <label for="github" class="col-lg-2 col-md-2 control-label">Github</label>
        <div class="col-lg-10 col-md-10">
          <input type="text" class="form-control floating-label" id="github" th:field="*{application.githubLink}" th:value="*{application.githubLink}"  placeholder="(varsa) Github adresiniz">
        </div>
      </div>
      </fieldset>

      <fieldset>
      <legend>Kurs Seçimleri</legend>

      <table class="table table-striped table-hover ">
        <thead>
            <tr>
                <th>Kurs Adı</th>
                <th>Açıklama</th>
                <th>Ön Koşul</th>
                <th>Link</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="course : ${courseList}">
                <td th:text="${course.name}" target="_blank" th:href="${course.detailPageLink}">Course Name</td>
                <td th:text="${course.prerequisities}" />
            </tr>
        </tbody>
      </table>

      <div class="form-group">
        <label for="firstChoice" class="col-lg-2 col-md-2 control-label">1. Tercih</label>
        <div class="col-lg-10 col-md-10">
        <select class="form-control" id="firstChoice" name="firstChoice" th:field="*{preferredCourseIds[0]}" th:value="*{preferredCourseIds[0]}">

          <option th:each="course : ${courseList}" 
			        	  	th:value="${course.id}" 
			          		th:text="${course.name}" >
		  </option>
        </select>
        </div>
      </div>
      
      <div class="form-group">
        <label for="secondChoice" class="col-lg-2 col-md-2 control-label">2. Tercih</label>
        <div class="col-lg-10 col-md-10">
        <select class="form-control" id="secondChoice" name="secondChoice" th:field="*{preferredCourseIds[1]}" th:value="*{preferredCourseIds[1]}">
          
          <option th:each="course : ${courseList}" 
			        	  	th:value="${course.id}" 
			          		th:text="${course.name}">
		  </option>
        </select>
        </div>
      </div>
      
      <div class="form-group">
        <label for="thirdChoice" class="col-lg-2 col-md-2 control-label">3. Tercih</label>
        <div class="col-lg-10 col-md-10">
        <select class="form-control" id="thirdChoice" name="thirdChoice" th:field="*{preferredCourseIds[2]}" th:value="*{preferredCourseIds[2]}">

          <option th:each="course : ${courseList}" 
			        	  	th:value="${course.id}" 
			          		th:text="${course.name}">
		  </option>
        </select>
        </div>
      </div>

      <div class="form-group">
        <label for="needAccommodation" class="col-lg-2 col-md-2 control-label"></label>
        <div class="col-lg-10 col-md-10">
        <div class="togglebutton">
          <label>
            <input type="checkbox" th:field="*{application.needAccomodation}" th:field="*{application.needAccomodation}" id="needAccommodation" th:checked="*{application.needAccomodation}"> Yurtta konaklamak istiyorum
          </label>
        </div>
        <span class="help-block">Yurtta konaklamak ücretlidir.</span>
        </div>
      </div>

      </fieldset>

      <div class="form-group">
      <div class="col-lg-10 col-md-10 col-lg-offset-2">
        <button type="submit" id="applyBtn" class="btn btn-primary pull-right">Başvur</button>
      </div>
      </div>
    </form>
    </div>
  </div>

</th:block>