<meta charset="utf-8">
<th:block th:fragment="content">
	<div class="row">
		<div class="col-md-8 well">
			<h1>Course Create Form </h1>
			<p th:text="${message}" />
		

		<!-- 	create form  start-->

	<form action="#" th:action="@{/courses/create}" th:object="${course}" method="post">
	
			<div class="col-md-4">
			
			<div class="form-group">
				<label for="InputName">Name</label> <input
					type="text" class="form-control" id="name"
					placeholder="Name" th:field="*{name}">
			</div>
			<div class="form-group">
				<label for="InputDetails">Description</label> <input
					type="text" class="form-control" id="description"
					placeholder="Description" th:field="*{description}">
			</div>
			
			<div class="form-group">
				<label for="InputPrerequisities">Prerequisities</label> <input
					type="text" class="form-control" id="prerequisities"
					placeholder="Prerequisities" th:field="*{prerequisities}">
			</div>
			
			<div class="form-group">
				<label for="InputTckn">Detail Page Link</label> <input
					type="text" class="form-control" id="detailPageLink"
					placeholder="Detail Page Link" th:field="*{detailPageLink}">
			</div>
			<button type="submit" class="btn btn-info">Submit</button>
			
			</div>
		</form>

		<!-- 	create form  stop-->
		</div>
	</div>

</th:block>