<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<div th:fragment="content">
<div class="col-md-3" >
<form action="#" th:action="@{/instructors/create}" th:object="${instructor}" method="post">
  
  <h2>Create Instructor</h2>
    <p>Name: <input type="text" class="form-control"  th:field="*{name}" th:value="${instructor.name}" autofocus required /></p>
    <p>Surname: <input type="text" class="form-control" th:field="*{surname}" th:value="${instructor.surname}"  autofocus required /></p>
    <p>TCKN:<input type="number" class="form-control" th:field="*{tckn}" th:value="${instructor.tckn}" autofocus required /> </p>
    <p>Birth Date:<input type="number" class="form-control" th:field="*{birthDate}" th:value="${instructor.birthDate}" autofocus required/> </p>
    <p>E Mail:<input type="email" class="form-control" th:field="*{email}" th:value="${instructor.email}" autofocus required /> </p>
    <p>Password:<input type="text" class="form-control" th:field="*{password}" th:value="${instructor.password}" autofocus required /> </p>
    <p>Phone:<input type="tel" class="form-control" th:field="*{phone}" th:value="${instructor.phone}" autofocus required /> </p>
    <p>Course:<input type="text" class="form-control" th:field="*{course}" th:value="${instructor.course}" autofocus required /> </p>
                
    
    <p><button type="submit" class="btn btn-lg btn-primary btn-block"  >Submit</button></p>
	
</form>
</div>
</div>

</body>
</html>